<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css css/combined.css -->
    <link rel="stylesheet" href="style/css/normalize.css">
    <link rel="stylesheet" href="style/css/main.css">
    <!-- endbuild -->
    <!--<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script> -->
    <!-- build:js js/header.js -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- endbuild -->
</head>
<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <div class="wrapper">
                <header>
                  <div class="container">
                      <h1>CONSULTATIONS</h1>
                      <div id="header-btns">
                        <ul>
                            <li>Connexion</li>
                            <li>Inscription</li>
                        </ul>
                        <a href="#"><img src="img/logo-bordeaux.png"></a>
                    </div>
                </div>
            </header>
  
            <!-- Page -->
            <div class="container">
                <div id="column-left">
                    <section>
                        <article class="presentation">
                            <p>
                                <b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.</b> Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<a href="#">inscription</a>
                                </p>
                            </article>
                            <article>
                                <h2 class="bulle-rouge">
                                    A LA UNE
                                    <div class="bulle-triangle"></div>
                                </h2>
                                <br>
                                <h3>Flash Vote 12-25</h3>
                                <img class="player" src="img/logo-question.png">
                                <img class="player" src="img/logo-play.png">
                                <img class="player" src="img/logo-record.png">
                                <img class="player" src="img/logo-stop.png">
                                <p>Thèmes : <span class="bleu">Jeunesse</span></p>
                                <p>Quartier : <span class="bleu">bordeaux centre</span></p>
                                <p class="a_la_une">
                                    <img src="img/consultation-image.png">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi consequat.
                                </p>
                                <button><span class ="bleu">Paticiper</span><br><span class="brun">Votre avis compte !</span></button>

                            </article>
                        </section>
                        <section>
                            <div  id="liste_consultation">
                                <ul>
                                    <li class="active">En cours</li>
                                    <li>Retours d'informations</li>
                                    <li>A venir</li>
                                </ul>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            Toutes les consultations
                                        </th>
                                        <th>
                                            Période
                                        </th>
                                        <th>
                                            Thèmes
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Flash Vote 12-25</td>
                                        <td>Du 1er mai au 1er janvier 2012</td>
                                        <td>jeunesse</td>
                                    </tr>
                                    <tr>
                                        <td>Indépendance des Chartrons</td>
                                        <td>Du 10 mai au 11 novembre</td>
                                        <td>urbanisme</td>
                                    </tr>
                                    <tr>
                                        <td>Marché permanent aux fromages</td>
                                        <td>Du 14 avril au 1 septembre</td>
                                        <td>urbanisme</td>
                                    </tr>
                                </tbody>
                            </table>

                        </section>
                    </div>

                    <div id="column-right">
                        <nav>
                            <ul>
                                <li>Toutes les consultations</li>
                                <li>Les thèmes en cours</li>
                                <li>
                                    Les quartiers concernés
                                    <ul>
                                        <li>Bordeaux maritime</li>
                                        <li>Grand Parc - Paul Doumer</li>
                                        <li>Centre ville</li>
                                        <li>Victor Hugo - St Augustin</li>
                                        <li>St Michel - Nansouty</li>
                                        <li>La Bastide</li>
                                        <li>Caudéran</li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <form>
                           <img src="img/icon-search.png">
                           <input type="search">
                           <input type="submit" value="Ok">
                       </form>
                       <section>
                            <h2 class="bulle-brune">
                                EN COURS
                                <div class="bulle-triangle"></div>
                            </h2>
                            <ul>
                                <li>FlashVote 12-25</li>
                                <li>Indépendance des Chartrons</li>
                                <li>Marché Permanent aux Fromages</li>
                            </ul>
                        </section> 
                    </div><!-- End colunm right -->
                <div class="push"></div>
            </div><!-- End container -->

            <!-- Début footer  -->
            <footer>
                <div id="ariane">
                    <img src="img/icon-eye.png"> <a href="#">Bordeaux Consultations</a> <span>&gt; Accueil</span>
                </div>
                <ul>
                    <li>
                        <img src="img/arrow-doubleTop-grey.png"><a href="#">Retour en haut de page</a>
                    </li>
                    <li>
                        <img src="img/arrow-right-grey-on.png"><a href="http://bordeaux.fr">Bordeaux.fr</a>
                    </li>
                </ul>
                <ul>
                    <li><img src="img/arrow-right-grey-on.png"><a href="#">A quoi ça sert</a></li>
                    <li><img src="img/arrow-right-grey-on.png"><a href="#">Glossaire</a></li>
                    <li><img src="img/arrow-right-grey-on.png"><a href="#">Mentions légales</a></li>
                    <li><img src="img/arrow-right-grey-on.png"><a href="#">Contacts</a></li>
                </ul>
            </footer>
            <!-- End of Page -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
            <!-- build:js footer.js -->
            <script src="js/plugins.js"></script>
            <script src="js/main.js"></script>
            <!-- endbuild -->

            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
            <script>
                (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='https://www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                ga('create','UA-XXXXX-X','auto');ga('send','pageview');
            </script>
        </body>
        </html>
